.hidden {
    display: none;
}
#citeMask {
    position: fixed;
    top: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
#citeC19 {
    width: 50%;
    margin: 10px 25%;
    border: 1px solid #666;
    background: #fff;
    position: fixed;
    padding: 20px;
    z-index: 2000;
    height: 90%;
    overflow-y: scroll;
}
#trialDetails {
    width: 50%;
    margin: 10px 25%;
    border: 1px solid #666;
    background: #fff;
    position: fixed;
    padding: 20px;
    z-index: 2000;
    height: 90%;
    overflow-y: scroll;
}
#contact {
    width: 50%;
    margin: 10px 25%;
    border: 1px solid #666;
    background: #fff;
    position: fixed;
    padding: 20px;
    z-index: 2000;
    height: 90%;
    overflow-y: scroll;
}
@media (max-width: 800px) {
    #trialDetails {
	margin: 5% 5%;
	width: 90%;
	height: 80%;
    }
    #citeC19 {
	margin: 5% 5%;
	width: 90%;
	height: 80%;
    }
    #contact {
	margin: 5% 5%;
	width: 90%;
	height: 80%;
    }
}
